@model EmployeeViewModel


<div class="text-danger">
        <div asp-validation-summary="All"></div>
    </div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Update" asp-controller="Employee" method="post">
            <input asp-for="EmployeeId" type="hidden" />
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" /><br />
            <span class="text-danger" asp-validation-for="FirstName"></span>  <br /><br />
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" /><br /><br />
            <span class="text-danger" asp-validation-for="LastName"></span>
            <label asp-for="Title"></label><br />
            <input asp-for="Title" /><br /><br />
            <label asp-for="TitleOfCourtesy"></label><br />
            <input asp-for="TitleOfCourtesy"/><br /><br />
            <span class="text-danger" asp-validation-for="Title"></span>
            <label asp-for="BirthDate"></label><br />
            <input asp-for="BirthDate"/><br /><br />
            <span class="text-danger" asp-validation-for="BirthDate"></span>
            <label asp-for="Address"></label><br />
            <input asp-for="Address"/><br /><br />
            <label asp-for="City"></label><br />
            <input asp-for="City"/><br /><br />
            <label asp-for="Country"></label><br />
            <input asp-for="Country"  /><br /><br />
            <label asp-for="HomePhone"></label><br />
            <input asp-for="HomePhone" /><br /><br />
            
            <input type="submit" value="Update" class="btn btn-success" />
        </form>
    </div>
    <div class="col-md-2"></div>
</div>