@model Category



<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h5>@Model.CategoryName</h5>
        <h5>@Model.Description</h5>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Products)
                {
                    <tr>
                        <td><a asp-action="Index" asp-controller="Product" asp-route-id="@item.ProductId" >@item.ProductName</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>
