@model ProductViewModel

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" />
        <label asp-for="CategoryId"></label>
        <

    </div>
    <div class="col-md-3"></div>
</div>